
body{
    color: var(--color);
    background-color: var(--color-background);
}


header{
    text-align: center;
}

.button_header{
    margin: 10px;
    background: none;
    border: none;
    text-decoration: none;
}

button,a {
    padding: 7px 15px; 
    color: var(--color-button-letters);
    border: solid 3px black;
    border-radius: 15px;
    cursor: pointer;
}
